.spbg{
    background-image: url(https://i.ibb.co/7NZQ7fS/flat-lay-white-planes-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


.customFont{
    font-family: 'Delius Unicase', cursive;
font-family: 'Luckiest Guy', cursive;
}
.specialOffering-right {
    background-color: #62bedc;
}